/*@import url(https://fonts.googleapis.com/css?family=Montserrat);*/

/*basic reset*/
* {margin: 0; padding: 0;}

html {
  height: 100%;
  /*Image only BG fallback*/
  background-color: #222222;
  color: #222;
  /*background = gradient + image pattern combo*/
}

body {
  font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
#msform fieldset {
  background-color: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 50%;
  min-width: 800px;
  overflow-x: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  font-size: 15px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.head-title{
  font-weight: bolder;
  background-image: -webkit-linear-gradient(top, #ffffff, #3fcc8f, #00b3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  font-size: 4.6rem;
  animation: ran 1s linear infinite;
  font-family: Algerian;
}

.teach-title{
  font-weight: bolder;
  background-image: -webkit-linear-gradient(top, #ff6301, #ffee01, #8dff01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 4.6rem;
  animation: ran 1s linear infinite;
  font-family: Algerian;
}

.level0{
  vertical-align:middle;
  font-size: 20px;
}

.level00{
  font-size: 30px;
  margin-left: 10px;
  font-weight: bolder;
}

#next{
  float: right;
}

.cover{
  width: 100%;
  height: 100%;
  padding: 10px;
  line-height: 1;
}

.cover:hover{
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 1s;
  filter: brightness(1);
  background-color: rgba(85,85,85,0.5);
}

input:checked + span{
  color: lawngreen;
  font-weight: bold;
}

#plate{
  display: none;
  font-size: 30px;
  color:white;
}

#plate1{
  display: none;
  font-size: 100px;
  color:greenyellow;
  font-family: Blackadder ITC;
}

#plate2{
  display: none;
  font-size: 30px;
  color:white;
  font-family: Forte;
}

#plate3{
  display: none;
  font-size: 30px;
  color:white;
  font-family: Forte;
}

#plate4{
  display: none;
  font-size: 30px;
  color:white;
  font-family: Arial;
}

#plate5{
  display: none;
  font-size: 30px;
  color:white;
  font-family: Arial;
}

#teach{
  display: none;
}

#Btn1{
  width: 135px;
  background: rgba(255,183,0,0.7);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  font-size: 15px;
}

#Btn1:hover{
  cursor: pointer;
  transition-duration: 0.5s;
  filter: brightness(1);
  background-color: rgb(255,183,0);
}

#Btn2{
  width: 135px;
  background: rgba(255,183,0,0.7);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  font-size: 15px;
}

#Btn2:hover{
  cursor: pointer;
  transition-duration: 0.5s;
  filter: brightness(1);
  background-color: rgb(255,183,0);
}

.plus0 {
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(244,81,30,0.7);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
  float: right;
}

.plus0:hover{
  cursor: pointer;
  transition-duration: 0.5s;
  filter: brightness(1);
  background-color: rgb(244,81,30);
}

.plus0 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.plus0 span:after {
  content: '+';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.plus0:hover span {
  padding-right: 15px;
}

.plus0:hover span:after {
  opacity: 1;
  right: 0;
}

.minus0 {
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(244,81,30,0.7);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
  float: left;
}

.minus0:hover{
  cursor: pointer;
  transition-duration: 0.5s;
  filter: brightness(1);
  background-color: rgb(244,81,30);
}

.minus0 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.minus0 span:after {
  content: '-';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.minus0:hover span {
  padding-right: 15px;
}

.minus0:hover span:after {
  opacity: 1;
  right: 0;
}

.jump{
  border-radius: 4px;
  background-color: rgba(0,195,255,0.7);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
  display: none;
}

.jump:hover, .jump:focus{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.continue2{
  border-radius: 4px;
  background-color: rgba(0,249,178,0.7);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
  display: none;
}

.continue2:hover, .continue2:focus{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.year{
  display: inline-block;
  border-radius: 4px;
  background-color:rgba(0,202,253,0.7);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 230px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
}

.year:hover{
  cursor: pointer;
  transition-duration: 0.5s;
  filter: brightness(1);
  background-color: rgb(0,202,253);
}

#year1{
  float: left;
}

#year2{
  float: right;
}

#year3{
  float: left;
}

#year5{
  float: right;
}

#year6{
  float: left;
}

#year7{
  float: right;
}

#year8{
  clear: left;
  float: left;
}

#year9{
  clear: right;
  float: right;
}

#year10{
  float: left;
}

#year11{
  float: right;
}

#year12{
  float: left;
}

#year14{
  float: right;
}

#year15{
  float: left;
}

#year16{
  float: right;
}

#year17{
  clear: left;
  float: left;
}

#year18{
  clear: right;
  float: right;
}

#fieldset1 {
  animation: clipRectIn .6s;
}

@keyframes clipRectIn {
  0%   {
    clip-path: inset(50% round 10% 50%);
  }
  100% {
    clip-path: inset(0% round 0);
  }
}

#fieldset2 {
  animation: clipCircleIn .6s;
}

@keyframes clipCircleIn {
  0%   {
    clip-path: circle(0 at 50% 50%);
  }
  100% {
    clip-path: circle(200px at 50% 50%);
  }
}

#fieldset3, #teach, #head {
  animation: clipDiamondIn .6s;
}
@keyframes clipDiamondIn {
  0%   {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  100% {
    clip-path: polygon(50% -50%, 150% 50%, 50% 150%, -50% 50%);
  }
}

#fieldset4, #fieldset5, #fieldset6, #fieldset7, #fieldset8, #fieldset9, #fieldset10{
  animation: clipTriangleIn .6s;
}

@keyframes clipTriangleIn {
  0%   {
    clip-path: polygon(50% 100%, 50% 0%, 0% 0%, 100% 0%, 50% 0%);
  }
  50% {
    clip-path: polygon(50% 100%, 0% 0%, 0% 0%, 100% 0%, 100% 0%);
  }
  100% {
    clip-path: polygon(50% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%);
  }
}
